<form accept-charset="UTF-8" action="/users" method="post">
  Email: <input type="text" name="user[email]"><br>
  Username: <input type="text" name="user[username]"><br>
  Password: <input type="text" name="user[password]"><br>
  <input type="submit" value="Submit">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
</form>